﻿<div id="columnsWrapper">
    <div class="columns">
        <div class="column" ng-repeat="column in columns" droppable>
            <div class="column-header">
                <div class="name">
                    {{column.Name}}
                </div>
            </div>
            <div class="priorities">
                <div class="priority" ng-repeat="priority in getVisiblePriorities(column)">
                    <div class="priority-header">
                        <div class="name">
                            {{priority.Name}}
                        </div>
                    </div>

                    <div class="tickets">
                        <div class="ticket" ng-repeat="ticket in getTicketsByColumnAndPriority(column, priority)" draggable>
                            <div class="ticket-title">
                                {{ticket.Id}}: {{ticket.Title}}
                            </div>
                            <div class="ticket-content">
                                column: <input class="edit" ng-model="ticket.ColumnId"><br />
                                priority: <input class="edit" ng-model="ticket.PriorityId"><br />
                            </div>
                            <div class="ticket-footer">
                                <button ng-click="deleteTicket(ticket)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
