﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tickets</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    
</head>
<body>
    <header>
        <p>@ViewBag.Title</p>
    </header>

    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <p>Tickets</p>
        <p>&copy; @DateTime.Now.Year - null media</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-1.0.0-alpha2.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/dashboard")
</body>
</html>