﻿body, input, button {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1em;
}

body {
    background-color: #fff;
    color: #333;
    margin: 1em auto;
}

button, input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

/*#region Header */

header {
    margin: 0 .7em;
    position: relative;
}

    header p {
        font-size: 2.5em;
        margin: 0;
    }

#userSettings {
    float: right;
}

    #userSettings > form:before {
        content: ' | ';
    }

    #userSettings form {
        display: inline;
    }

#menu {
    list-style-type: none;
    padding: 0;
}

    #menu li {
        display: inline-block;
    }

    #menu li:not(:first-child) {
        margin-left: .8em;
    }

/*#endregion */

/*#region forms */

#changePasswordForm input,
#registerForm input,
#loginForm input {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #changePasswordForm input[type=text], #changePasswordForm input[type=password],
    #registerForm input[type=text], #registerForm input[type=password],
    #loginForm input[type=text], #loginForm input[type=password] {
        background: white;
        width: 220px;
    }

#loginForm input[type=checkbox]{
    border: none;
}

#changePasswordForm input[type=submit] {
    margin-bottom: .8em;
}

#registercolumn{
    display: none;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
}

#logincolumn {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
    width: 600px;
}

#registercolumn h2,
#logincolumn h2 {
    padding-bottom: .5em;
    margin: 0;
}

#registercolumn a,
#logincolumn a {
    color: navy;
    font-weight: bold;
    cursor: pointer;
}

#registercolumn p,
#logincolumn p {
    clear: both;
}

#localLogincolumn {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
    text-align: left;
}

#socialLogincolumn {
    margin-left: 40px;
    float: left;
    width: 45%;
    text-align: left;
}

    #socialLogincolumn h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

fieldset {
    border: none;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    display: inline;
}

    fieldset legend {
        display: none;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

    fieldset ol {
        padding: 0;
        margin: 0 0 8px 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

ol.round {
    list-style-type: none;
    padding-left: 0;
}

/*#endregion */


/*#region info and errors */
.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.validation-summary-errors {
    color: red;
    list-style: none;
    width: 220px;
    font-size: .8em;
}

.validation-summary-errors ul{
    padding: 0 !important;
    margin: 0 !important;
}

/*#endregion */

/*#region Unauthorized */

#unauthorized {
    margin: 3em 0;
    text-align: center;
}

    #unauthorized ul {
        list-style: none;
        padding: 0;
        margin: 3em 0;
    }

    #unauthorized li {
        display: inline-block;
        padding: 6px 20px;
        background-color: #dedede;
        border: 1px solid gray;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        #unauthorized li:first-child {
            margin-right: 2em;
        }

/*#endregion */

/*#region Footer */

footer {
    clear: both;
    margin: 5em 5em .7em 0;
}

/*#endregion */

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        text-align: center;
    }
}


html, body {
	height: 100%;
}


#body {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
} 

#columnsWrapper {
	display: table;
	width: 100%;
	table-layout: fixed;
	min-height: 75%;
}

.columns {
	display: table-row;
}

.column {
    -moz-box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    display: table-cell;
    height: 90%;
    margin: 0 5px;
    padding: 5px 10px;
}

.column:hover {
	background-color: rgba(0, 50, 100, 0.05);
}

.column.column-hover{
	background: rgba(0, 50, 100, 0.1);
}

.column .column-header {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #404040;
	padding: 2px 0;
	border-radius: 2px;
}

.column .priority-header {
	margin-bottom: 5px;
}

.column .priority-collapse{
	float: left;
}


.column .ticket{
	margin-bottom: 10px;
}

.column .ticket .ticket-content{
	border-width: 1px;
	border-style: none solid none solid;
	border-color: #AAA;
	background-color: white;
	font-size: 13px;
	padding: 5px;
	box-shadow: 2px 2px 2px #DDD;
	min-height: 20px;
}

.column .ticket .ticket-title{
	background-color: #E0EAF9;
	color: #111;
	padding: 0 10px 0 5px;
	margin: 0;
	font-size: 15px;
	font-weight: normal;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-style: solid solid none solid;
	border-width: 1px;
	border-color: #AAA;
	line-height: 28px;
	box-shadow: 2px 2px 1px #DDD;
}

.column .ticket .ticket-footer{
	border-width: 1px;
	border-style: none solid solid solid;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-color: #AAA;
	background-color: white;
	font-size: 11px;
	padding: 5px;
	box-shadow: 2px 2px 2px #DDD;
	padding-bottom: 3px;
	color: #999;
}
